@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.container {
    width: 250px;
    height: 350px;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    background-color: #fff;
}

.sign-in-container {
    width: 250px;
    height: 250px;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    background-color: #fff;
}

.name,
.email,
.password {
    margin: 20px;
    font-size: 16px;
}

.password {
    margin-bottom: 40px;
}

input {
    height: 32px;
    font-size: 20px;
    outline: none;
    width: 80%;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: 2px solid #333;
    margin-bottom: 10px;
}

.error {
    color: red;
    margin: 0;
    text-align: center;
}

.btn {
    display: flex;
    justify-content: center;
}

.submit {
    display: flex;
    justify-content: center;
    width: 60px;
    font-size: 20px;
    border-radius: 25px;
    padding: 20px 60px;
    color: grey;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin: auto;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.1s;
}

button:active {
    transform: translateY(2px);
}

.form-success {
    display: flex;
    justify-content: center;
    margin-top: 250px;
    min-width: 370px;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: 'Permanent Marker',
        cursive;
    margin: 0;
}