@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    background-color: rgb(139,0,174);
    background: linear-gradient(90deg, rgba(139,0,174,0.836594012605042) 0%, rgba(255,92,0,1) 100%);
    width: "100%";
}

#root {
    margin: auto;
    border: 3px solid yellow;
}

h1 {
    font-family: 'Permanent Marker',
        cursive;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
}

input {
    width: 10%;
    height: 30px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 70px;
    height: 30px;
    padding: 2px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    padding: 1rem;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4rem;
}